{
    "printWidth": 80,               
    "tabWidth": 2,                  
    "useTabs": false,               
    "semi": true,                   
    "singleQuote": true,            
    "trailingComma": "all",         
    "bracketSpacing": true,         
    "jsxBracketSameLine": false,    
    "arrowParens": "always",        
    "endOfLine": "lf",              
    "jsxSingleQuote": false,       
    "quoteProps": "as-needed",      
    "proseWrap": "preserve",        
    "embeddedLanguageFormatting": "auto" 
  }